#pycocotools*
image_captioning/evaluation/pycocoevalcap/__pycache__
image_captioning/evaluation/pycocotools/__pycache__
#image_captioning/evaluation/pycocoevalcap/**/*.jar
#image_captioning/inference_result/**/*.html
image_captioning/data/raw_data
image_captioning/language_model
image_captioning/clip/AudioCLIP/*.md
image_captioning/clip/AudioCLIP/ignite_trainer/README.md
image_captioning/clip/AudioCLIP/assets
image_captioning/clip/AudioCLIP/demo
image_captioning/clip/AudioCLIP/images
image_captioning/clip/AudioCLIP/protocols
*.pyc
*.swp
.vscode
**/*.wav*
**/*.jpg*
**/*.json*
**/*.jar