audio_captioning/evaluation/pycocoevalcap/__pycache__
audio_captioning/evaluation/pycocotools/__pycache__
audio_captioning/evaluation/pycocoevalcap/spice/lib/*stanford*
audio_captioning/inference_result/facebook/opt-1.3b/AudioCaps/includes_prompt_magic/output_tables/code_testing/*.html
audio_captioning/inference_result/facebook/opt-1.3b/AudioCaps/excludes_prompt_magic/output_tables/code_testing/*.html
audio_captioning/inference_result/facebook/opt-1.3b/AudioCaps/excludes_prompt_magic/output_tables/hyperparam_experiments/*.html
audio_captioning/softlinks/AudioCaps_data
audio_captioning/softlinks/evaluation_data_files
*.pyc
*.swp
.vscode
**/*.wav*
**/*.jpg*
**/*.pt