torchlibrosa
sentence-transformers
wandb
loguru
numpy
Pillow
librosa
progressbar
pandas
tqdm
scikit-learn
ruamel.yaml
absl-py
pytest
sacrebleu==1.4.10
six
wheel
progressbar
torchvision
transformers==4.7.0
pyyaml
nltk
sentencepiece
spacy
gdown
seaborn
matplotlib
pandas
scikit-image
ipdb
